.text-field {
    -fx-border-color: #0B61FF;
    -fx-border-width: 1px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
}

#resendCodeButton:hover {
    -fx-cursor: pointer;
}

#sendButton:hover{
    -fx-cursor: pointer;
}