.container_header{
    -fx-background-color: #004BD6;
    -fx-border:solid;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 5px 0;
    -fx-padding: 0 0 0 40;

}

.container_main {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #004BD6 33%, #0047CB 66%, #002770 100%);
}


.container_labels{
    -fx-padding: 0 40 0 0;
    -fx-font-size: 25;

}

.container_labels Label{
    -fx-text-fill: #FFFF;
    -fx-cursor: hand;
}

.container_image_form {
    -fx-pref-width: 368;
    -fx-pref-height: 446;
}

.container_image_locate{
    -fx-margin-top: 500px;

}
.container_form{
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 30px;
}

.title_form {
    -fx-font-family: "Graphik Boldik";
    -fx-font-weight: 600;
    -fx-font-size: 24px;
}

.text_form{
    -fx-font-family: "Grapik";
    -fx-font-size: 20px;
}

.button_next{
    -fx-max-width: 150px;
    -fx-max-height: 200px;
    -fx-background-color: #002770;
    -fx-text-fill: #D9D9D9;
    -fx-font-family: "Graphik Semibold";
    -fx-background-radius: 30px;
    -fx-min-height: 40px;
    -fx-cursor: hand;
}

.footer_container{
    -fx-background-color: #002770;
    -fx-border:solid;
    -fx-border-color: #000000;
    -fx-border-width: 5px 0 0 0;
    -fx-padding: 0 0 0 40;
}

.textfield{
    -fx-font-size: 15px;
    -fx-background-radius: 30px;
    -fx-border:solid;
    -fx-border-color: #0B61FF;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 30px;
}

