.text {
    -fx-font-family: "Graphik Black";
}

.slider .track {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-height: 10px;
}


.slider .thumb {
    -fx-background-color: #007bff;
    -fx-background-radius: 50%;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-padding: 15px;
    -fx-border-radius: 50%;
}

#fillBar {
    -fx-background-color: #007bff;
    -fx-background-radius: 7;
    -fx-border-radius:7;
}