/* Header para a tela de login */
.header {
    -fx-background-color: #004BD6;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.primary-button {
    -fx-background-color: #004BD6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-pref-height: 40px;
    -fx-min-width: 80px;
}

.primary-button:hover {
    -fx-background-color: #0B61FF;
}

.primary-button:pressed {
    -fx-background-color: #041E4F;
}

/* Imagem do logo */
.logo {
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-image: url('../assets/Logo.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Título de login */
.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #004BD6;
    -fx-padding-bottom: 10px;
}

/* Estilo dos rótulos e campos */
.field-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #004BD6;
}

.text-field, .password-field {
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: #c4baf5;
    -fx-border-width: 1px;
}

/* Texto e link de inscrição */
.sign-up-text {
    -fx-text-fill: #666;
    -fx-font-size: 14px;
    -fx-padding-top: 10px;
}

.sign-up-link {
    -fx-text-fill: #004BD6;
    -fx-font-size: 14px;
    -fx-underline: true;
}

/* Container do formulário */
.form-container {
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
}
